html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  width: 100%;
  display: block;
}
.card {
  position: relative;
  text-align: center;
}

.card-background {
  max-height: 500px;
  overflow: hidden;
}

.banner {
  position: absolute;
  bottom: 0;
  max-height: 500px;
  max-width: 50em;
  width: 100%;
  padding: 0 1.5rem;
  text-align: left;
  transform: translateX(-50%);
  left: 50%;
}

.card-title {
  font-size: 4rem;
